.header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  align-items: center;
  weight: 100%;
  height: 80%;
  border-bottom: 1px solid black;
}
.logo {
  flex-grow: 1;
  align-items: center;
  display: flex;
}
.logo img {
    margin: 10px 20px 10px 30px;
}
.navigation {
  flex-grow: 0;
  flex-shrink: 0;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  padding-right: 40px;
}
a {
  color: black;
}
 .logo span {
  color: MediumAquamarine;
}
body {
  margin: 0;
}
.navigation span {
  margin-right: 20px;
}
