.header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  align-items: center;

  border-bottom: 1px solid black;
  position: fixed;
  width: 100%;
  height: auto;
  background-color: white;
}
.logo {
  flex-grow: 1;
  align-items: center;
  display: flex;
}
.logo img {
  margin: 10px 20px 10px 30px;
}
.navigation {
  flex-grow: 0;
  flex-shrink: 0;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  padding-right: 40px;
}
a {
  color: black;
}
 .logo span {
  color: MediumAquamarine;
}
body {
  margin: 0;
}
.navigation span {
  margin-right: 20px;
  }
.box {
  overflow: scroll;
  display: flex;
  justify-content: center;
  min-width: 1350px;
  padding-top: 100px;
}
.box2{
  flex-basis: 1350px
}
.content {
  overflow: scroll;
}
.main-container {
  display: flex;
  padding-top: 20px;
  margin: 0 50px;
}
.container {
  display: flex;
}
.centered {
  justify-content: center;
}
.column {
  font-family: Georgia;
  font-size: 17px;
  color: black;
  margin-right: 35px;
}
.columnlarge {
  width: 630px;
}
.titel1 {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png");
  width: 630px;
  height: 300px;
  margin-top: 0;
  display: flex;
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
  text-align: left;
  justify-content: center;
}
.text1 {
  margin: 0;
  padding: 20px 0;
}
.container2 {
  display: flex;

}
.titel2 {
  font-size: 20px;
  margin: 60px 0;
  font-weight: bold;
  margin-bottom: 30px;
}
.text2 {
  margin: 0 0 20px 0;
}
.text3 {
  height: 300px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png");
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  justify-content: center;
  display: flex;
  margin: 100px 0;
}
.cell2 {
  margin-right: 30px;
}

.text4 {
  margin: 0 0 20px 0;
}
.text5 {
  height: 300px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png");
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  justify-content: center;
  display: flex;
  margin: 100px 0;
}
.cell3 {
}
.text6 {
  height: 50px;
}
.columnmedium {
  width: 300px;
}

.text7 {
  margin-bottom: 20px;
}
.text8 {
  height: 300px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png");
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
  margin: 30px 0 0 0;
}
.text9 {
  margin: 20px 0;
}
.columnsmall {
  width: 240px;
}
.cell5 {
}
.titel7 {
  font-size: 20px;
  font-weight: bold;
  margin: 20px 0;
}
.bite {
  display: flex;
  font-size: 16px;
  font-weight: bold;
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  padding: 12px 20px;
  border-bottom: 1px solid black;
}
.footer {
  align-items: center;
  flex-direction: column;
  height: 325px;
  justify-content: center;
  display: flex;
  background-color: MediumAquamarine;
  margin: auto;
}
.bottomnew {
  font-family: Verdana;
  font-size: 12px;
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
}
